{% extends '::base.html.twig' %}

{% block body -%}
<div class="content-container">
    {% if app.request.get('status') is defined %}
        {% set status = app.request.get('status') %}
        {% set id = app.request.get('id') %}
        {% if status == 'Succes' %}
            <p class="succesmessage">Transactie #{{ id }} succesvol!</p>
        {% elseif status == 'Fail' %}
            <p class="failmessage">Transactie is mislukt, gebruiker heeft te weinig saldo.</p>
        {% endif %}
    {% endif %}
    <h2 class="h2">Transactie geschiedenis</h2>
    <ul>
        <div class="btn-fill admin_button_container">
            <a href="{{ path('admin') }}" class="button">Terug naar overzicht</a>
            <a href="{{ path('admin_transaction_new') }}" class="button">Nieuwe transactie</a>
        </div>
    </ul>
    <table class="usermanager transaction">
        <thead>
            <tr class="th">
                <th>Id</th>
                <th>Gebruikersnaam</th>
                <th>Door</th>
                <th>Tijd</th>
                <th>Oud saldo</th>
                <th>Nieuw saldo</th>
                <th>Verandering</th>
                <th>Reden</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('userprofile', {'username': entity.user.username}) }}" target="_blank">{{ entity.user.username }}</a></td>
                <td>{{ entity.adminName }}</td>
                <td>{% if entity.time %}{{ entity.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.oldbalance }}</td>
                <td>{{ entity.newbalance }}</td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
