{% extends '::base.html.twig' %}

{% block body -%}
<div class="content-container">
        <h2 class="h2">Nieuwe transactie</h2>

        {{ form_start(form) }}
        {{ form_row(form.user) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.message) }}

        <div class="admin_button_container btn-fill">
            <a href="{{ path('admin_transaction') }}" class="button">
                Terug naar overzicht
            </a>
            {{ form_row(form.submit, {'attr': {'class': 'button'}}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
</div>
{% endblock %}
