{% extends '::base.html.twig' %}
{% block header %}
    <div class="header header-2">

    </div>
{% endblock %}
{% block body -%}
<div class="content-container">
    <div class="infoblocks-container">
       <h2 class="h2">Administratie</h2>
        <div class="infoblock">
            <a href="{{ path('admin_usermanager') }}">Gebruikersbeheer</a>
        </div>
        <div class="infoblock">
            <a href="{{ path('admin_transaction') }}">Transactie geschiedenis</a>
        </div>
        <div class="infoblock">
            <a href="{{ path('admin_checkin') }}">Sessie geschiedenis</a>
        </div>
        <div class="infoblock">
            <a href="{{ path('admin_stats') }}">Statestieken</a>
        </div>
    </div>
    <div class="side-content">
        <h2 class="h2">Info</h2>
        <div class="peoplenline">
            <h3>{{ aanwezig|length }} Gebruikers aanwezig</h3>
            <hr>
            <ul class="userlist">
            {% for user in aanwezig %}
                <li><a href="{{ path('userprofile', {'username': user.username}) }}" target="_blank">{{ user.firstname }} {{ user.lastname }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}