{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content-container">
        <h2 class="h2">Statistieken</h2>
        <form class="timespanform">
            <select>
                <option value="1">Alltime</option>
                <option value="2">Deze Week</option>
                <option value="3">deze maand</option>
                <option value="4">dit half-jaar</option>
                <option value="5">dit jaar</option>
                <option value="6">Handmatig</option>
            </select>
        </form>
        {% set totaltransactionup = 0 %}
        {% set totaltransactiondown = 0 %}
        {% for transaction in transactions %}
            {% if transaction.amount > 0 %}
                {% set totaltransactionup = totaltransactionup + transaction.amount %}
            {% elseif transaction.amount < 0 %}
                {% set totaltransactiondown = totaltransactiondown + transaction.amount %}
            {% endif %}
        {% endfor %}
        <div class="stat">
            <h2>Totaal opgewaardeerd</h2>
            <div class="totaltranup">{{ totaltransactionup }}</div>
            <h2>Totaal afgeschreven</h2>
            <div class="totaltrandown">{{ totaltransactiondown }}</div>
        </div>
        <div class="stat">
            <h2>Uren totaal</h2>
            <div class="totalhour">{{ totaaluren }}</div>
            <h2>Gemiddelde sessieduur</h2>
            <div class="avaragesession">
                {% set sumratingsH = '0' %}
                {% set sumratingsi = '0' %}
                {% set sumratingss = '0' %}
                {% for checkin in checkins %}
                    {% if checkin.sessionduration %}
                        {% set sumratingsH = sumratingsH + checkin.sessionduration|date('H') / loop.length %}
                        {% set sumratingsi = sumratingsi + checkin.sessionduration|date('i') / loop.length %}
                        {% set sumratingss = sumratingss + checkin.sessionduration|date('s') / loop.length %}
                    {% endif %}
                {% endfor %}
                {% set sumratingshl = (sumratingsH - sumratingsH|round(0, 'floor')) *60 %}
                {% set sumratingsi = sumratingsi + sumratingshl %}
                {%  if sumratingsi > 60 %}
                    {% set sumratingsi = sumratingsi / 60 %}
                    {% set sumratingsH = sumratingsH + sumratingsi|round(0, 'floor') %}
                    {% set sumratingsi = (sumratingsi - sumratingsi|round(0, 'floor')) *60 %}
                {% endif %}
                {% set sumratingsil = (sumratingsi - sumratingsi|round(0, 'floor')) *60 %}
                {% set sumratingss = sumratingss + sumratingsil %}
                {%  if sumratingss > 60 %}
                    {% set sumratingss = sumratingss / 60 %}
                    {% set sumratingsi = sumratingsi + sumratingss|round(0, 'floor') %}
                    {% set sumratingss = (sumratingss - sumratingss|round(0, 'floor')) *60 %}
                {% endif %}
                <p>{{  sumratingsH|round(0, 'floor') }}:{{  "%02d"|format(sumratingsi|round(0, 'floor')) }}:{{  "%02d"|format(sumratingss|round)  }}</p>
            </div>

        </div>
        <div id="checkin_users" ></div>
        <div id="created_users" ></div>
        <div id="transactions_day" ></div>
        <div class="btn-fill admin_button_container">
            <a href="{{ path('admin') }}" class="button">Terug naar dashboard</a>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">

        $(document).ready(function(){
            $('.timespanform').change(function() {
                var time = parseInt($( ".timespanform option:selected" ).val());
                var time1 = '0000-01-01';
                var titel = '';
                switch(time) {
                    case 1:
                        time1 = '0000-01-01';
                        titel = ', vanaf het begin';
                        break;
                    case 2:
                        time1 = '{{ "now"|date_modify('-7 day')|date("Y-m-d") }}';
                        titel = ', een week terug';
                        break;
                    case 3:
                        time1 = '{{ "now"|date_modify('-1 month')|date("Y-m-d") }}';
                        titel = ', een maand terug';
                        break;
                    case 4:
                        time1 = '{{ "now"|date_modify('-6 month')|date("Y-m-d") }}';
                        titel = ', 6 maanden terug';
                        break;
                    case 5:
                        time1 = '{{ "now"|date_modify('-1 year')|date("Y-m-d") }}';
                        titel = ', 1 jaar terug';
                        break;
                    case 6:
                        time1 = '{{ "now"|date_modify('-7 day')|date("Y-m-d") }}';
                        break;
                }
                var time2 = '{{ "now"|date_modify('+1 day')|date("Y-m-d") }}';
                getStats(time1,time2, titel);
            });

        });

        function getStats(time1, time2, titel){
            $.post(
                    '{{path('DigitalArtLabBundle_ajax_get_stats')}}',
                    {time1: time1, time2: time2, titel: titel},
                    function(response){
                        if(response.code == 100 && response.success){//dummy check
                            console.log('Time1: '+response.time1+' '+'time2: '+ response.time2);
                            console.log(response);

                            var i = 0;
                            var transdown = 0;
                            for (key in response.grouptransactionsdown) {

                                for (var key in response.grouptransactionsdown[i] )  {
                                    var value = response.grouptransactionsdown[i][key];

                                    transdown += -value;
                                    $('.totaltrandown').text(transdown);
                                }
                                i++;

                            }
                            var i = 0;
                            var transup = 0;
                            for (key in response.grouptransactionsup) {

                                for (var key in response.grouptransactionsup[i] )  {
                                    var value = response.grouptransactionsup[i][key];

                                    transup += value;
                                    $('.totaltranup').text(transup);
                                }
                                i++;

                            }

                            $('.totalhour').text(response.totaaluren);
                            $('.avaragesession').text(response.avgtime);


                            {#{% set sumratingsH = '0' %}
                            {% set sumratingsi = '0' %}
                            {% set sumratingss = '0' %}
                            {% for checkin in checkins %}
                            {% if checkin.sessionduration %}
                            {% set sumratingsH = sumratingsH + checkin.sessionduration|date('H') / loop.length %}
                            {% set sumratingsi = sumratingsi + checkin.sessionduration|date('i') / loop.length %}
                            {% set sumratingss = sumratingss + checkin.sessionduration|date('s') / loop.length %}
                            {% endif %}
                            {% endfor %}
                            {% set sumratingshl = (sumratingsH - sumratingsH|round(0, 'floor')) *60 %}
                            {% set sumratingsi = sumratingsi + sumratingshl %}
                            {%  if sumratingsi > 60 %}
                            {% set sumratingsi = sumratingsi / 60 %}
                            {% set sumratingsH = sumratingsH + sumratingsi|round(0, 'floor') %}
                            {% set sumratingsi = (sumratingsi - sumratingsi|round(0, 'floor')) *60 %}
                            {% endif %}
                            {% set sumratingsil = (sumratingsi - sumratingsi|round(0, 'floor')) *60 %}
                            {% set sumratingss = sumratingss + sumratingsil %}
                            {%  if sumratingss > 60 %}
                            {% set sumratingss = sumratingss / 60 %}
                            {% set sumratingsi = sumratingsi + sumratingss|round(0, 'floor') %}
                            {% set sumratingss = (sumratingss - sumratingss|round(0, 'floor')) *60 %}
                            {% endif %}
                        <p>{{  sumratingsH|round(0, 'floor') }}:{{  "%02d"|format(sumratingsi|round(0, 'floor')) }}:{{  "%02d"|format(sumratingss|round)  }}</p>#}


                            var sumratingsH = 0;
                            var sumratingsi = 0;
                            var sumratingss = 0;

                            for (var checkin in response.checkins){
                                console.log(response.checkins.getsessionduration)
                            }



                            var dataPoints = [];
                            for (var key in response.groupsessions) {
                                var value = response.groupsessions[key];

                                dataPoints.push({
                                    label : key,
                                    y : value
                                });

                            }
                            var titel = response.titel;

                            var aanmeldingtitel = "aantal aanmeldingen"+ titel;
                            var chart = new CanvasJS.Chart("checkin_users", {

                                title:{
                                    text: aanmeldingtitel
                                },
                                data: [//array of dataSeries
                                    { //dataSeries object

                                        /*** Change type "column" to "column", "area", "line" or "pie"***/
                                        type: "column",
                                        yValueFormatString:"# Sessie('s)",
                                        dataPoints: dataPoints
                                    }
                                ]
                            });

                            chart.render();

                            var usertitle = "Nieuwe gebruikers"+ titel;

                            var userdataPoints = [];
                            for (var key in response.createdusers) {
                                var value = response.createdusers[key];

                                userdataPoints.push({
                                    label : key,
                                    y : value
                                });

                            }

                            var chart2 = new CanvasJS.Chart("created_users", {

                                title:{
                                    text: usertitle
                                },
                                data: [//array of dataSeries
                                    { //dataSeries object

                                        /*** Change type "column" to "column", "area", "line" or "pie"***/
                                        type: "column",
                                        yValueFormatString:"# Nieuwe gebruiker('s)",
                                        dataPoints: userdataPoints
                                    }
                                ]
                            });

                            chart2.render();

                            var transacttitle = "Transacties"+ titel;

                            var transactupPoints = [];
                            var i = 0;
                            for (key in response.grouptransactionsup) {

                                for (var key in response.grouptransactionsup[i] )  {
                                    var value = response.grouptransactionsup[i][key];

                                    transactupPoints.push({
                                        label : key,
                                        y : value
                                    });
                                }
                                i++;

                            }

                            var transactdownPoints = [];
                            var i = 0;
                            for (key in response.grouptransactionsdown) {

                                for (var key in response.grouptransactionsdown[i] )  {
                                    var value = response.grouptransactionsdown[i][key];

                                    transactdownPoints.push({
                                        label : key,
                                        y : value
                                    });
                                }
                                i++;

                            }

                            var chart3 = new CanvasJS.Chart("transactions_day", {
                                title:{
                                    text: transacttitle
                                },

                                data: [  //array of dataSeries
                                    { //dataSeries - first quarter
                                        /*** Change type "column" to "column", "area", "line" or "pie"***/
                                        type: "column",
                                        yValueFormatString:"# Opgewaardeerd",
                                        name: "Opgewaardeerd",
                                        showInLegend: true,
                                        dataPoints: transactupPoints
                                            {#{% for transactions in grouptransactionsup %}
                                            {% for key,values in transactions %}
                                            { label: "{{ key }}", y: {{ values }} },
                                            {% endfor %}
                                            {% endfor %}#}

                                    },

                                    { //dataSeries - second quarter

                                        type: "column",
                                        yValueFormatString:"# Afgeschreven",
                                        name: "Afgeschreven",
                                        showInLegend: true,
                                        dataPoints: transactdownPoints
                                    }
                                ]

                            });

                            chart3.render();


                        }
                        if(response.code == 200 || response.success == false){
                            console.log('connection failed.')
                        }

                    }, "json");
        }

        /*charts js*/

        window.onload = function () {
            var dataPoints = [
                {% for key,sessions in groupsessions %}
                { label: "{{ key }}", y: {{ sessions }} },
                {% endfor %}
            ]
            var chart = new CanvasJS.Chart("checkin_users", {

                title:{
                    text: "Aanmeldingen, vanaf het begin"
                },
                data: [//array of dataSeries
                    { //dataSeries object

                        /*** Change type "column" to "column", "area", "line" or "pie"***/
                        type: "column",
                        yValueFormatString:"# Sessie('s)",
                        dataPoints: dataPoints,
                    }
                ]
            });

            chart.render();

            var chart2 = new CanvasJS.Chart("created_users", {

                title:{
                    text: "Nieuwe gebruikers, vanaf het begin"
                },
                data: [//array of dataSeries
                    { //dataSeries object

                        /*** Change type "column" to "column", "area", "line" or "pie"***/
                        type: "column",
                        yValueFormatString:"# Nieuwe gebruiker('s)",
                        dataPoints: [
                            {% for key,users in createdusers %}
                            { label: "{{ key }}", y: {{ users }} },
                            {% endfor %}
                        ]
                    }
                ]
            });

            chart2.render();

            var chart3 = new CanvasJS.Chart("transactions_day", {
                title:{
                    text: "Transacties, Vanaf het begin"
                },

                data: [  //array of dataSeries
                    { //dataSeries - first quarter
                        /*** Change type "column" to "column", "area", "line" or "pie"***/
                        type: "column",
                        yValueFormatString:"# Opgewaardeerd",
                        name: "Opgewaardeerd",
                        showInLegend: true,
                        dataPoints: [
                            {% for transactions in grouptransactionsup %}
                                {% for key,values in transactions %}
                                    { label: "{{ key }}", y: {{ values }} },
                                {% endfor %}
                            {% endfor %}
                        ]
                    },

                    { //dataSeries - second quarter

                        type: "column",
                        yValueFormatString:"# Afgeschreven",
                        name: "Afgeschreven",
                        showInLegend: true,
                        dataPoints: [
                            {% for transactions in grouptransactionsdown %}
                                {% for key,values in transactions %}
                                    { label: "{{ key }}", y: {{ values }} },
                                {% endfor %}
                            {% endfor %}
                        ]
                    }
                ],

            });

            chart3.render();

        }
    </script>
{% endblock %}