{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content-container">
        <h2 class="h2">Statistieken</h2>
        <form class="timespanform">
            <select>
                <option value="1">Alltime</option>
                <option value="2">Deze Week</option>
                <option value="3">deze maand</option>
                <option value="4">dit half-jaar</option>
                <option value="5">dit jaar</option>
                <option value="6">Handmatig</option>
            </select>
        </form>
        {% set totaltransactionup = 0 %}
        {% set totaltransactiondown = 0 %}
        {% for transaction in transactions %}
            {% if transaction.amount > 0 %}
                {% set totaltransactionup = totaltransactionup + transaction.amount %}
            {% elseif transaction.amount < 0 %}
                {% set totaltransactiondown = totaltransactiondown + transaction.amount %}
            {% endif %}
        {% endfor %}
        <div class="stat">
            <h2>Totaal opgewaardeerd</h2>
            {{ totaltransactionup }}
            <h2>Totaal afgeschreven</h2>
            {{ totaltransactiondown }}
        </div>
        <div class="stat">
            <h2>Uren totaal</h2>
            {{ totaaluren }}
            <h2>Gemiddelde sessieduur</h2>

            {% set sumratingsH = '0' %}
            {% set sumratingsi = '0' %}
            {% set sumratingss = '0' %}
            {% for checkin in checkins %}
                {% if checkin.sessionduration %}
                    {% set sumratingsH = sumratingsH + checkin.sessionduration|date('H') / loop.length %}
                    {% set sumratingsi = sumratingsi + checkin.sessionduration|date('i') / loop.length %}
                    {% set sumratingss = sumratingss + checkin.sessionduration|date('s') / loop.length %}
                {% endif %}
            {% endfor %}
            {% set sumratingshl = (sumratingsH - sumratingsH|round(0, 'floor')) *60 %}
            {% set sumratingsi = sumratingsi + sumratingshl %}
            {%  if sumratingsi > 60 %}
                {% set sumratingsi = sumratingsi / 60 %}
                {% set sumratingsH = sumratingsH + sumratingsi|round(0, 'floor') %}
                {% set sumratingsi = (sumratingsi - sumratingsi|round(0, 'floor')) *60 %}
            {% endif %}
            {% set sumratingsil = (sumratingsi - sumratingsi|round(0, 'floor')) *60 %}
            {% set sumratingss = sumratingss + sumratingsil %}
            {%  if sumratingss > 60 %}
                {% set sumratingss = sumratingss / 60 %}
                {% set sumratingsi = sumratingsi + sumratingss|round(0, 'floor') %}
                {% set sumratingss = (sumratingss - sumratingss|round(0, 'floor')) *60 %}
            {% endif %}
            <p>{{  sumratingsH|round(0, 'floor') }}:{{  "%02d"|format(sumratingsi|round(0, 'floor')) }}:{{  "%02d"|format(sumratingss|round)  }}</p>


        </div>
        <div id="checkin_users" ></div>
        <div id="created_users" ></div>
        <div id="transactions_day" ></div>
        <div class="btn-fill admin_button_container">
            <a href="{{ path('admin') }}" class="button">Terug naar dashboard</a>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">

        $(document).ready(function(){
            $('.timespanform').change(function() {
                var time = parseInt($( ".timespanform option:selected" ).val());

                var time1 = '0000-01-01';
                switch(time) {
                    case 1:
                        time1 = '0000-01-01';
                        break;
                    case 2:
                        time1 = '{{ "now"|date_modify('-7 day')|date("Y-m-d") }}';
                        break;
                    case 3:
                        time1 = '{{ "now"|date_modify('-1 month')|date("Y-m-d") }}';
                        break;
                    case 4:
                        time1 = '{{ "now"|date_modify('-6 month')|date("Y-m-d") }}';
                        break;
                    case 5:
                        time1 = '{{ "now"|date_modify('-1 year')|date("Y-m-d") }}';
                        break;
                    case 6:
                        time1 = '{{ "now"|date_modify('-7 day')|date("Y-m-d") }}';
                        break;
                }
                var time2 = '{{ "now"|date("Y-m-d") }}';
                getStats(time1,time2);
            });

        });

        function getStats(time1, time2){
            console.log(time1, time2);
            $.post(
                    '{{path('DigitalArtLabBundle_ajax_get_stats')}}',
                    {time1: time1, time2: time2},
                    function(response){
                        if(response.code == 100 && response.success){//dummy check
                            console.log('Time1: '+response.time1+'time2: '+ response.time2);
                        }
                        if(response.code == 200 || response.success == false){
                            console.log('fail')
                        }

                    }, "json");
        }

        /*charts js*/

        window.onload = function () {
            var chart = new CanvasJS.Chart("checkin_users", {

                title:{
                    text: "Aanmeldingen per dag"
                },
                data: [//array of dataSeries
                    { //dataSeries object

                        /*** Change type "column" to "bar", "area", "line" or "pie"***/
                        type: "line",
                        yValueFormatString:"# Sessie('s)",
                        dataPoints: [
                            {% for key,sessions in groupsessions %}
                            { label: "{{ key }}", y: {{ sessions }} },
                            {% endfor %}
                        ]
                    }
                ]
            });

            chart.render();

            var chart2 = new CanvasJS.Chart("created_users", {

                title:{
                    text: "Nieuwe gebruikers per dag"
                },
                data: [//array of dataSeries
                    { //dataSeries object

                        /*** Change type "column" to "bar", "area", "line" or "pie"***/
                        type: "line",
                        yValueFormatString:"# Nieuwe gebruiker('s)",
                        dataPoints: [
                            {% for key,users in createdusers %}
                            { label: "{{ key }}", y: {{ users }} },
                            {% endfor %}
                        ]
                    }
                ]
            });

            chart2.render();

            var chart3 = new CanvasJS.Chart("transactions_day", {
                title:{
                    text: "Transacties per dag"
                },

                data: [  //array of dataSeries
                    { //dataSeries - first quarter
                        /*** Change type "column" to "bar", "area", "line" or "pie"***/
                        type: "line",
                        yValueFormatString:"# Opgewaardeerd",
                        name: "Opgewaardeerd",
                        showInLegend: true,
                        dataPoints: [
                            {% for transactions in grouptransactionsup %}
                                {% for key,values in transactions %}
                                    { label: "{{ key }}", y: {{ values }} },
                                {% endfor %}
                            {% endfor %}
                        ]
                    },

                    { //dataSeries - second quarter

                        type: "line",
                        yValueFormatString:"# Afgeschreven",
                        name: "Afgeschreven",
                        showInLegend: true,
                        dataPoints: [
                            {% for transactions in grouptransactionsdown %}
                                {% for key,values in transactions %}
                                    { label: "{{ key }}", y: {{ values }} },
                                {% endfor %}
                            {% endfor %}
                        ]
                    }
                ],

            });

            chart3.render();

        }
    </script>
{% endblock %}