{% extends '::base.html.twig' %}

{% block body -%}
<div class="content-container">

    <h2 class="h2">Gebruikersbeheer</h2><div id="response-message"></div>
    <div class="btn-fill admin_button_container">
        <a href="{{ path('admin') }}" class="button">Terug naar overzicht</a>
        <a href="{{ path('fos_user_registration_register') }}" class="button">Gebruiker toevoegen</a>
    </div>

    <table class="usermanager">
        <tr class="th">
            <th>Gebruikersnaam</th>
            <th>Volledige naam</th>
            <th>Saldo</th>
            <th>Aanwezig</th>
        </tr>
        {% for users in users %}
            <tbody class="tr-group">
            <tr class="user">
                <td colspan="4"></td>
            </tr>
            <tr class="user">
                <td>{{ users.username }}</td>
                <td>{{ users.firstname }} {{ users.lastname }}</td>
                <td id="{{ users.username }}">{{ users.saldo }}</td>
                <td>
                {% if users.aanwezig == 1 %}
                    In het lab
                {% elseif users.aanwezig is null or users.aanwezig is empty %}
                    nog niet geweest
                {% elseif users.aanwezig == 0 %}
                    Niet aanwezig
                {% endif %}
                </td>

            </tr>
            <tr class="actions-row">
                <td><a href="{{ path('userprofile', {'username': users.username}) }}" target="_blank">Bekijk profiel</a></td>
                <td><a href="#" onclick="appendFrame( '{{ users.username }}', {{ loop.index }} ); frames['frame{{ loop.index }}'].print();" >Print pas</a></td>
                <td><a href="#" class="opensaldoform">Saldo wijzigen</a></td>
                <td>
                    <a href="{{ path('checkin', {'username': users.username}) }}">
                        {% if users.aanwezig == 1 %}
                            Afmelden
                        {% elseif users.aanwezig == 0 %}
                            Aanmelden
                        {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <form class="user_transaction_form">
                        <label>Gebruikersnaam: </label><input type="text" value="{{ users.username }}" disabled="disabled" />
                        <label>Hoeveelheid: </label><input type="number">
                        <input type="submit" value="Bij/Afschrijven" class="transactionbutton">
                    </form>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
<script>

    $(document).ready(function(){
        $('.transactionbutton').on('click', function(event){
            event.preventDefault();
            var user = $(this).parent().find('input[type="text"]').val();
            var amount = $(this).parent().find('input[type="number"]').val();
            var parent = $(this).parent().parent().parent();
            acreateTransaction(user,amount,parent);
        });

    });

    function acreateTransaction(user, amount, parent){
        console.log(user, amount);
        $.post(
            '{{path('DigitalArtLabBundle_ajax_create_transaction')}}',
            {userdata: user, amountdata: amount},
            function(response){
                if(response.code == 100 && response.success){//dummy check
                    var count = $('#'+user).text();
                    $('#'+user).prop('Counter',count).animate({
                        Counter: response.newsaldo
                    }, {
                        duration: 500,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
                    $(parent).find('.user_transaction_form').slideToggle().find('input[type="number"]').val(null);
                    $('#response-message').addClass('succes').removeClass('error').text('Transactie geslaagd! saldo van '+ user+ ' aangepast .' );
                }
                if(response.code == 200 || response.success == false){
                    $('#response-message').addClass('error').removeClass('succes').text('Transactie mislukt, gebruiker '+ user + ' Heeft niet genoeg saldo.');
                }

            }, "json");
    }
</script>

{% endblock %}