{% extends '::base.html.twig' %}

{% block body -%}
<div class="content-container">
    <h2 class="h2">Gebruikersbeheer</h2>
    <table class="usermanager">
        <tr class="th">
            <th>Gebruikersnaam</th>
            <th>Volledige naam</th>
            <th>Saldo</th>
            <th>Aanwezig</th>
        </tr>
        {% for users in users %}
            <tr class="user">
                <td>{{ users.username }}</td>
                <td>{{ users.firstname }} {{ users.lastname }}</td>
                <td>{{ users.saldo }}</td>
                <td>
                {% if users.aanwezig == 1 %}
                    In het lab
                {% elseif users.aanwezig is null or users.aanwezig is empty %}
                    nog niet geweest
                {% elseif users.aanwezig == 0 %}
                    Niet aanwezig
                {% endif %}
                </td>

            </tr>
            <tr class="actions-row">
                <td><a href="{{ path('userprofile', {'username': users.username}) }}" target="_blank">Bekijk profiel</a></td>
                <td><a href="#" onclick="appendFrame( '{{ users.username }}', {{ loop.index }} ); frames['frame{{ loop.index }}'].print();" >Print pas</a></td>
                <td><a href="#">Saldo wijzigen</a></td>
                <td>
                    <a href="{{ path('checkin', {'username': users.username}) }}">
                        {% if users.aanwezig == 1 %}
                            Afmelden
                        {% elseif users.aanwezig == 0 %}
                            Aanmelden
                        {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4">
            {#{{ form_start(arrayForms[loop.index0]) }}
                    {{ form_row(arrayForms[loop.index0].username, { value: users.username }) }}
                    {{ form_rest(arrayForms[loop.index0]) }}
                    {{ form_end(arrayForms[loop.index0]) }}#}
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('fos_user_registration_register') }}">Gebruiker toevoegen</a>
    <a href="{{ path('admin') }}">Terug naar overzicht</a>
</div>


{% endblock %}